@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html, body, h1 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input[type=text], button {
  font-family: "Montserrat", sans-serif;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
}
.glitch:hover {
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(44px, 9999px, 18px, 0);
    transform: skew(0.27deg);
  }
  5% {
    clip: rect(43px, 9999px, 14px, 0);
    transform: skew(0.04deg);
  }
  10% {
    clip: rect(79px, 9999px, 82px, 0);
    transform: skew(0.7deg);
  }
  15% {
    clip: rect(20px, 9999px, 6px, 0);
    transform: skew(0.08deg);
  }
  20% {
    clip: rect(24px, 9999px, 13px, 0);
    transform: skew(0.05deg);
  }
  25% {
    clip: rect(24px, 9999px, 32px, 0);
    transform: skew(0.66deg);
  }
  30% {
    clip: rect(82px, 9999px, 49px, 0);
    transform: skew(0.75deg);
  }
  35% {
    clip: rect(80px, 9999px, 67px, 0);
    transform: skew(0.65deg);
  }
  40% {
    clip: rect(77px, 9999px, 64px, 0);
    transform: skew(0.83deg);
  }
  45% {
    clip: rect(1px, 9999px, 74px, 0);
    transform: skew(0.41deg);
  }
  50% {
    clip: rect(31px, 9999px, 88px, 0);
    transform: skew(0.55deg);
  }
  55% {
    clip: rect(41px, 9999px, 23px, 0);
    transform: skew(0.77deg);
  }
  60% {
    clip: rect(37px, 9999px, 27px, 0);
    transform: skew(0.1deg);
  }
  65% {
    clip: rect(77px, 9999px, 75px, 0);
    transform: skew(0.9deg);
  }
  70% {
    clip: rect(44px, 9999px, 47px, 0);
    transform: skew(0.24deg);
  }
  75% {
    clip: rect(78px, 9999px, 15px, 0);
    transform: skew(0.04deg);
  }
  80% {
    clip: rect(49px, 9999px, 58px, 0);
    transform: skew(0.12deg);
  }
  85% {
    clip: rect(68px, 9999px, 31px, 0);
    transform: skew(0.92deg);
  }
  90% {
    clip: rect(89px, 9999px, 3px, 0);
    transform: skew(0.63deg);
  }
  95% {
    clip: rect(97px, 9999px, 53px, 0);
    transform: skew(0.05deg);
  }
  100% {
    clip: rect(26px, 9999px, 77px, 0);
    transform: skew(0.91deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(56px, 9999px, 78px, 0);
    transform: skew(0.57deg);
  }
  5% {
    clip: rect(84px, 9999px, 28px, 0);
    transform: skew(0.9deg);
  }
  10% {
    clip: rect(52px, 9999px, 87px, 0);
    transform: skew(0.01deg);
  }
  15% {
    clip: rect(72px, 9999px, 5px, 0);
    transform: skew(0.61deg);
  }
  20% {
    clip: rect(92px, 9999px, 11px, 0);
    transform: skew(0.73deg);
  }
  25% {
    clip: rect(29px, 9999px, 70px, 0);
    transform: skew(0.88deg);
  }
  30% {
    clip: rect(30px, 9999px, 28px, 0);
    transform: skew(0.55deg);
  }
  35% {
    clip: rect(2px, 9999px, 84px, 0);
    transform: skew(0.42deg);
  }
  40% {
    clip: rect(3px, 9999px, 71px, 0);
    transform: skew(0.91deg);
  }
  45% {
    clip: rect(67px, 9999px, 23px, 0);
    transform: skew(0.16deg);
  }
  50% {
    clip: rect(1px, 9999px, 61px, 0);
    transform: skew(0.39deg);
  }
  55% {
    clip: rect(61px, 9999px, 42px, 0);
    transform: skew(0.6deg);
  }
  60% {
    clip: rect(22px, 9999px, 27px, 0);
    transform: skew(0.53deg);
  }
  65% {
    clip: rect(5px, 9999px, 17px, 0);
    transform: skew(0.03deg);
  }
  70% {
    clip: rect(43px, 9999px, 100px, 0);
    transform: skew(0.65deg);
  }
  75% {
    clip: rect(60px, 9999px, 52px, 0);
    transform: skew(0.77deg);
  }
  80% {
    clip: rect(75px, 9999px, 44px, 0);
    transform: skew(0.59deg);
  }
  85% {
    clip: rect(58px, 9999px, 6px, 0);
    transform: skew(0.75deg);
  }
  90% {
    clip: rect(86px, 9999px, 17px, 0);
    transform: skew(0.55deg);
  }
  95% {
    clip: rect(21px, 9999px, 19px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(70px, 9999px, 89px, 0);
    transform: skew(0.01deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(1deg);
  }
  80% {
    transform: skew(5deg);
  }
  90% {
    transform: skew(2deg);
  }
  100% {
    transform: skew(0deg);
  }
}