<head>
  <link rel="stylesheet" href="glitched-style.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="status">
    <!-- <h1></h1> -->
    <h1><a href="https://gitlab.com/limoncello-syndicate/limoncello-mobile/-/releases">MOBILE</a></h1>
    <h1><a href="/values.pdf">VALUES</a></h1>
    <h1><a href="/join.html">JOIN</a></h1>
    <!-- <h1></h1> -->
  </div>
  <div id="app">
    <header>
      <h1>Limoncello Syndicate</h1>
    </header>
    <div id="wrapper">
      <!-- Make sure data-text equals the text you put inside the tags. -->
      <h1 class="glitch" data-text="RESPECT EXISTENCE">RESPECT EXISTENCE</h1>
      <h1 class="glitch" data-text="OR">OR</h1>
      <h1 class="glitch" data-text="EXPECT RESISTANCE">EXPECT RESISTANCE</h1>
    </div>
  </div>
</body>