<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="glitched-style.css">
</head>
<body>
  <div id="status">
    <!-- <h1></h1> -->
    <h1><a href="https://gitlab.com/limoncello-syndicate/limoncello-mobile/-/releases">MOBILE</a></h1>
    <h1><a href="/values.pdf">VALUES</a></h1>
    <h1><a href="/join.html">JOIN</a></h1>
    <!-- <h1></h1> -->
  </div>
  <div id="app">
    <header>
      <div>
        <h2>Limoncello Join Application</h2>
        <span>@</span><input id="username" type="text"><button type="submit" onclick="submitData()">Submit</button>
      </div>
    </header>
    <footer>
      By joining us, you pledge your solemn allegiance to the Syndicate and accept that you shall face execution if found conspiring against us.
    </footer>
  </div>

  <script>
    function submitData() {
      let username = document.getElementById("username").value;
      if (username.length > 0 && username.length < 21) {
        var xhr = new XMLHttpRequest();
        var url = `https://limoncello-api.onrender.com?username=${username}`;
        var params = {username: username};
        xhr.open("POST", url, true);
  
        // Set content type header for POST request
        xhr.setRequestHeader("Content-type", "application/json");
  
        xhr.onreadystatechange = function() {
          if(xhr.readyState == 4 && xhr.status == 200) {
            console.log("Success! (or is it sucess? hmmmmmm...)");
          }
        };
  
        // Send the request
        xhr.send(params);
        // console.log(username);
      } else {
        alert ('Username must be less than 21 characters.');
      }
    }
  </script>
</body>