#app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("https://plus.unsplash.com/premium_photo-1664391797270-9451ed0426b1?q=80&w=2660&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

header {
  color: white;
  font-size: 1.5em;
  margin-bottom: 50px;
}

#status, footer {
  position: absolute;
  display: grid;
  width: 100%;
  background-color: rgb(15, 15, 15);
  text-align: center;
}

#status {
  top: 0;
  font-size: 1em;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

footer {
  bottom: 0;
  font-size: 1.5em;
  color: maroon;
  font-weight: bolder;
  padding-bottom: 5px;
}

a {
  all: unset;
  cursor: pointer;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1em;
  color: white;
  font-weight: lighter;
}

button {
  font-size: 1em;
  background-color: rgb(15, 15, 15);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  margin-left: 15px;
}